.comment-modal {
  width: 30vw;
  height: 35vh;
}

.comment-modal h2 {
  margin-bottom: 20px;
}

.comment-modal button {
  margin-top: 20px;
}

.comment-modal form textarea {
  width: 28vw;
  height: 20vh;
}
