.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.search-bar {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}

.search-bar input {
  width: 100%;
  height: 35px;
}

.search-icon {
  font-size: large;
}

.filter {
  width: fit-content;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}

.filter select {
  width: 12em;
  height: 35px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.landing-explore h2 {
  margin-top: 30px;
}

.list-page-description {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-page-duration {
  text-align: right;
  font-style: italic;
}

.load-more-button {
  display: flex;
  justify-content: center;
}

.load-more-button button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  background-color: #55ad9b;
  width: 250px;
}

.load-more-button button:hover {
  cursor: pointer;
  background-color: #95d2b3;
}

@media (max-width: 768px) {
  .search-bar {
    width: 100%;
    margin-bottom: 10px;
  }

  .filter {
    width: 100%;
  }

  .filter select {
    width: 100%;
  }
}
