.itinerary-detail-page {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.header img {
  width: 100%;
  height: auto;
  aspect-ratio: 2 / 1;
  object-fit: cover;
  opacity: 0.8;
}

.header h1 {
  position: relative;
  top: -80px;
  color: white;
}

.itinerary-content .body {
  margin: 30px;
}
.schedule-item h2 {
  background-color: #d8efd3;
  width: fit-content;
  padding: 0px 5px 10px 30px;
}

.activity-image img {
  width: 16vw;
  height: auto;
  aspect-ratio: 3 / 2;
  border-radius: 10px;
}
