.itinerary-detail-page {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.header img {
  width: 100%;
  height: auto;
  aspect-ratio: 2 / 1;
  object-fit: cover;
  opacity: 0.7;
}

.header h1 {
  position: relative;
  top: -40px;
  left: 30px;
  color: white;
  font-size: 38px;
  font-weight: 650;
  background-color: #55ad9b;
  text-align: center;
  width: fit-content;
  padding: 0px 5px 10px 30px;
  margin-right: 20px;
  opacity: 0.9;
}

.itinerary-content .body {
  margin: 10px 30px 50px 30px;
}

.schedule-item h2 {
  background-color: #d8efd3;
  width: fit-content;
  padding: 0px 5px 10px 30px;
  margin-top: 20px;
}

.description p {
  margin: 20px 0px 50px 0px;
}

.activity-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.activity-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.activity-info span {
  display: flex;
  gap: 6px;
}

.activity-place {
  font-size: 17px;
  font-weight: 600;
}

.activity-image img {
  width: 16vw;
  height: auto;
  aspect-ratio: 3 / 2;
  border-radius: 10px;
}

.detail-page-activity-button {
  margin: 10px 50px;
}

.detail-page-activity-button button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  background-color: #95d2b3;
  color: white;
  width: 150px;
}

.detail-page-activity-button button:hover {
  cursor: pointer;
  background-color: #55ad9b;
}
