.ai-container h2 {
  background-color: #768af5;
  background-image: linear-gradient(
    43deg,
    #768af5 0%,
    #ef7be7 46%,
    #e2b667 100%
  );
  color: white;
  font-weight: 500;
  width: fit-content;
  padding: 5px 30px;
  border-radius: 0px 10px 10px 0px;
}

.ai-container {
  width: 100%;
}

.chat-window {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.chat-bubble {
  padding: 10px 20px;
  width: fit-content;
  max-width: 80%;
  margin: 5px;
}

.chat-bubble p {
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
  white-space: pre-wrap;
}

.user-message {
  background-color: #0084ff;
  color: white;
  border-radius: 10px 10px 0px 10px;
  text-align: end;
  align-self: end;
}

.bot-message {
  background-color: rgb(247, 245, 245);
  color: black;
  border-radius: 10px 10px 10px 0px;
  text-align: start;
  align-self: start;
}

.chat-input {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 5px;
}

.chat-input input {
  width: 100%;
  height: 25px;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 5px 8px;
  box-shadow: none;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
  white-space: pre-wrap;
}

.chat-input button {
  background-color: #768af5;
  background-image: linear-gradient(
    43deg,
    #768af5 0%,
    #ef7be7 46%,
    #e2b667 100%
  );
  color: white;
  font-weight: 500;
}

.confirm-deletion h2 {
  margin-bottom: 20px;
}

.confirm-deletion p {
  margin-bottom: 20px;
}

.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: currentColor;
  margin: -3.6px 0 0 -3.6px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px;
}

.not-found-image {
  max-width: 50%;
  height: auto;
  margin-bottom: 20px;
  animation: float 3s ease-in-out infinite;
}

.not-found-container img {
  aspect-ratio: 1/1;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
