.aichat-container {
  position: fixed;
  bottom: 10vh;
  right: 0px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.aichat-container h2 {
  background-color: #768af5;
  background-image: linear-gradient(
    43deg,
    #768af5 0%,
    #ef7be7 46%,
    #e2b667 100%
  );
  color: white;
  font-weight: 500;
  padding: 10px 35px;
  border-radius: 10px 0px 0px 10px;
}

.aichat-wrapper {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: white;
  border-radius: 10px 0px 0px 10px;
  padding: 10px;
  width: 35vw;
  max-height: 50vh;
  overflow-y: auto;
}

.aichat-window {
  display: flex;
  flex-direction: column;
}

.aichat-bubble {
  width: fit-content;
  max-width: 100%;
  margin: 5px;
  margin-bottom: 15px;
}

.aichat-bubble p {
  padding: 10px 20px;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.user-message {
  background-color: #0084ff;
  color: white;
  border-radius: 10px 10px 0px 10px;
  text-align: end;
  align-self: end;
  margin-left: auto;
}

.aichat-choice {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.chat-input button {
  background-color: #768af5;
  background-image: linear-gradient(
    43deg,
    #768af5 0%,
    #ef7be7 46%,
    #e2b667 100%
  );
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.chat_recommendation_preview {
  display: flex;
  gap: 20px;
  margin: 10px 0px;
}

.chat_recommendation_preview img {
  width: 120px;
  border-radius: 10px;
  height: auto;
  aspect-ratio: 3 / 2;
}

.chat_recommendation_desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
