.landing-signed-out::before {
  content: "";
  position: absolute;
  top: 1;
  left: 0;
  width: 100%;
  height: 93%;
  background-image: url("/images/world_map.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4;
  z-index: -1;
}

.landing-signed-out {
  margin: 0px 100px;
  width: 55%;
}

.landing-signed-out h1 {
  font-size: 50px;
  font-weight: 600;
  padding-top: 70px;
}

.landing-signed-out h2 {
  margin: 30px 0px;
  font-size: 30px;
  font-style: italic;
}

.landing-signed-out p {
  margin-bottom: 20px;
  font-size: 20px;
}

.landing-signed-out-buttons {
  display: flex;
  gap: 50px;
  list-style-type: none;
  margin: 30px 0px 100px 0px;
}

.landing-signed-out button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  background-color: #55ad9b;
  color: white;
  width: 250px;
}

.landing-signed-out button:hover {
  cursor: pointer;
  background-color: #95d2b3;
}

.landing-personal {
  margin: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.landing-personal img {
  width: 600px;
  aspect-ratio: 5 / 4;
  opacity: 0.6;
  border-radius: 10px;
}

.landing-personal-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 40px;
}

.landing-personal-container div button {
  margin: 10px auto;
}

.landing-explore {
  margin: 50px;
}

.landing-explore h1 {
  margin-bottom: 20px;
}

.landing-explore h2 {
  margin-bottom: 10px;
}

.explore-button {
  text-align: center;
  margin: 50px 0px;
}

.landing-signed-in button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  background-color: #55ad9b;
  width: 250px;
}

.landing-signed-in button:hover {
  cursor: pointer;
  background-color: #95d2b3;
}

@media (max-width: 768px) {
  .landing-signed-out {
    margin: 0px 30px;
    width: 85%;
  }

  .landing-signed-out h1 {
    font-size: 40px;
    padding-top: 50px;
  }

  .landing-signed-out h2 {
    margin: 20px 0px;
    font-size: 25px;
  }

  .landing-signed-out p {
    font-size: 18px;
  }

  .landing-signed-out-buttons button {
    margin-bottom: 30px;
  }

  .landing-personal {
    gap: 30px;
  }
}
