.landing-signed-out::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/world_map.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4;
  z-index: -1;
}

.landing-signed-out {
  margin: 150px;
  width: 50%;
}

.landing-signed-out h1 {
  font-size: 55px;
  font-weight: 600;
}

.landing-signed-out h2 {
  margin: 50px 0px;
  font-size: 35px;
  font-style: italic;
}

.landing-signed-out p {
  margin-bottom: 20px;
  font-size: 25px;
}

.landing-signed-out-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 50px;
}

.landing-signed-out button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  background-color: #55ad9b;
  color: white;
  width: 250px;
}

.landing-signed-out button:hover {
  cursor: pointer;
  background-color: #95d2b3;
}

.landing-personal {
  margin: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.landing-personal img {
  width: 500px;
  aspect-ratio: 5 / 4;
  opacity: 0.6;
}

.landing-personal-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 40px;
}

.landing-personal-container div button {
  margin: 10px auto;
}

.landing-explore {
  margin: 50px;
}

.landing-explore h1 {
  margin-bottom: 20px;
}

.landing-explore h2 {
  margin-bottom: 10px;
}

.explore-button {
  text-align: center;
  margin: 50px 0px;
}

.landing-signed-in button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  background-color: #55ad9b;
  width: 250px;
}

.landing-signed-in button:hover {
  cursor: pointer;
  background-color: #95d2b3;
}
