/* TODO: Add sitewide styles */
/* colors: #F1F8E8 - yellow, #D8EFD3, #95D2B3, #55AD9B, #C0C78C, #A6B37D, #FEFAE0, #B99470 - brown */

* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", Helvetica,
    Arial, sans-serif;
}

main {
  min-height: 75vh;
}

h1 {
  font-size: 25px;
  font-weight: 500;
}

h2 {
  font-size: 20px;
  font-weight: 500;
}

h3 {
  font-size: 16px;
  font-weight: 500;
}

p {
  font-size: 15px;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 2;
}

.home-link img {
  width: 65px;
  height: auto;
  aspect-ratio: 1 / 1;
}

input {
  height: 25px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 2px 8px;
  box-shadow: none;
}

textarea {
  height: 100px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 2px 8px;
  box-shadow: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: start;
}

form label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 6px;
  color: grey;
}

.profile-image {
  width: 35px;
  height: 35px;
  border-radius: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  gap: 20px;
}

.grid-item {
  min-height: 30em;
  max-width: auto;
}

.grid-item * {
  margin-top: 10px;
}

.image-container img {
  border-radius: 10px;
}

.time {
  color: gray;
  font-style: italic;
}

.error {
  color: red;
  font-size: 13px;
  font-style: italic;
  margin-bottom: 5px;
}

.highlight {
  font-size: 20px;
  font-weight: 550;
  color: #b99470;
  text-decoration: underline;
}

.inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.align-left * {
  text-align: start;
}

.aligh-right span {
  text-align: right;
}

.center-in-main {
  margin: 40vh 45vw;
}

.text-in-empty-screen {
  margin: 50px;
}

.text-in-empty-screen button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  background-color: #55ad9b;
  color: white;
  width: 250px;
  margin-top: 30px;
}

.text-in-empty-screen button {
  cursor: pointer;
  background-color: #95d2b3;
}

.button-center {
  margin: 50px auto;
}
