.itinerary-form {
  margin: 50px auto;
  width: 50%;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.itinerary-form h1 {
  margin: 20px 0px;
}
.itinerary-form h3 {
  margin: 20px 0px 10px 0px;
}

.itinerary-form p {
  margin-bottom: 10px;
}

.itinerary-form textarea {
  height: 20vh;
  width: 47vw;
}

.itinerary-form input {
  height: 25px;
  width: 47vw;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 2px 8px;
  box-shadow: none;
}

.itinerary-form select {
  height: 25px;
  width: 48vw;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 2px 8px;
  box-shadow: none;
}
